.hobbiesList {
    padding:1em 1em 1em 1em;
    display:normal;
}

.BgFun {
    background:url('../../images/nba2K.gif') no-repeat; 
    background-size: contain;
    width:100%;
}


.BgTech {
    background: url('../../images/tech.png') no-repeat;
    width:100%;
    background-size: contain;
    /*height:100%:*/
}

.BgCoding {
    background: url('../../images/coding.gif') no-repeat;
    width:100%;
    background-size: contain;
    /*height:100%:*/
}

.BgMusic {
    background: url('../../images/boombox.gif') no-repeat;
    width:100%;
    background-size: contain;
    /*height:100%:*/
}

.LockSize{
    background-size: 600px 600px;
}

.SmushForm{
    margin-left:20px;
    margin-right: 20px;
}

.whiteFont{
    color:white;
}

.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}

/*.shortBoxes{
    size:50%;
}*/

/*input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}*/

