.hobbiesList {
    padding:1em 1em 1em 1em;
    display:normal;

}

.BgFun {
    background:url('../../images/nba2K.gif') no-repeat; 
    background-size: contain;
    width:100%;
    
}


.BgTech {
    background: url('../../images/tech.png') no-repeat;
    width:100%;
    background-size: contain;
    /*height:100%:*/
}

.BgCoding {
    background: url('../../images/coding.gif') no-repeat;
    width:100%;
    background-size: contain;
    /*height:100%:*/
}

.BgMusic {
    background: url('../../images/boombox.gif') no-repeat;
    width:100%;
    background-size: contain;
    /*height:100%:*/
}

.spotImgSize{
    min-height:500px;
    min-width:600px;
}

.LockSize{
    background-size: 600px 600px;
    min-height:500px;
    min-width:600px;
}

.SmushForm{
    margin-left:20px;
    margin-right: 20px;
}

/*.shortBoxes{
    size:50%;
}*/

/*input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}*/

/*for the music player*/
@font-face { font-family: Myriad; src: url('http://freeshared.org/fonts/Myriad.OTF'); }
body
{
    font-family: Myriad; 
}
.aligned { 
	text-align: center; 
	padding-bottom:28%; 
}
.aligned_input { 
	text-align: center; 
	padding-bottom:-10%; 
}
.aligned_text { 
	text-align: center; 
	font-size: 88%;
}
.no:hover {
	background:none;
} .no:active {
	background: none;
}
#seconds {
	font-size:10px;
}
.btn-custom {
	background-color: black;
	color:white;
	transition-property: background, opacity;
	transition-duration: 0.5s;
} .btn-custom:hover, .btn-custom:active, .btn-custom:focus {
	cursor: pointer;
	opacity:0.5;
	color:white;
	//background-color:white;
} 